#rect {
    background-color: gray;
    width: 250px; 
    height: 600px;
    padding-left: 15px;
}
#h1 {
    color: white;
    text-align: left;
}
.sq {
    width: 100px; 
    height: 100px; 
    background-color: orange;
}
/*.parent {
    width: 250px;
    height: 600px;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}*/